.sunshine {
    font-weight: bold;
    color: black;
    background: white;
    border: transparent;
}

.sunshine:hover {
    background-color: black;
    color: white;
}

.moonlight {
    font-weight: bold;
    color: white;
    background: black;
    border: transparent;
}

.moonlight:hover {
    background-color: white;
    color: black;
}

.navBrandFont {
    font-size: 50px;
}

.mainHeaderImage {
    height: 10rem;
    width: 25rem;
    animation: pulse 2s infinite;
    animation-name: pulse;
}

.navbar-brand {
    font-weight: bold;
}

.marginFotoFromTop {
    margin-top: 70px;
}

.image:hover {
    font-size: 20px;
    cursor: pointer;
}