.loginPageStyle {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    place-items: center;
    justify-content: center;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    display: grid;
    place-items: center;
    animation: ping 3s infinite;
    animation-name: ping;
}